<!-- include header -->
<%- include('include/_add_user_header') %>
<!--/include header  -->

<!-- main section -->
<main id="site-main">
  <div>

    <a style="text-decoration: none;" href="adminHome" class="btn border-shadow">
      <span class="text-gradient">
      Home <i class="fa-solid fa-user" style="color: #ffffff"></i>
      </span>
    </a>
  </div>
  <br>

  
    <form
      id="updateForm"
      method="post"
      action="/admin/updateUser/<%= user._id %>"
    >
      <div class="form-group">
        <input type="hidden" name="_method" value="PUT" />
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          value="<%= user.username %>"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
      </div>

      <!-- <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          value="<%= user.password %>"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
      </div> -->

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          value="<%= user.email %>"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          name="phone"
          value="<%= user.phone %>"
          id="phone"
          placeholder="Phone"
        />
      </div>

      <div class="form-group">
        <p class="text-danger" id="error-msg"></p>
        <p class="text-success" id="success-msg"></p>
        <button class="btn" type="submit">Update</button>
      </div>
    </form>
  </div>
</main>

<!-- main section -->

<!-- include footer -->
<%- include('include/_footer') %>
<!--/include footer  -->
