<% users.forEach(user => { %>
  <tr>
    <td><%= user._id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td style="display: flex;">
      <a href="/admin/updateUserget?id=<%= user._id %>" class="btn border-shadow update">
        <span class="text-gradient">update <i class="fa-solid fa-pencil" style="color: #ffd43b"></i></span>
      </a>
      <br />
      <a type="button" onclick="deleteUser()" href="#" class="btn border-shadow delete" data-id="<%= user._id %>">
        <span class="text-gradient">delete <i class="fa-solid fa-trash" style="color: #fa0000"></i></span>
      </a>
    </td>
  </tr>
<% }) %>
